.menu{
	text-align:right;
	vertical-align:top;
	float:right;
	font-family: 'Quicksand', sans-serif;
}

li {
    display: inline;

}

a:link
{
text-decoration:none;
} 



.logo{
	vertical-align:top;
	float:left;	
}

.monIcon {
display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
	border-radius:50%;

}


.menu, .logo{ display:inline-block;
  vertical-align:middle;
  	width:50%;
  	height:50px;
	background-color: white;
}



