.menu{
	text-align:right;
	vertical-align:middle;
	float:right;

}

li {
    display: inline;
}

.logo{
	vertical-align:top;
	float:left;
	
}

.menu, .logo{ display:inline-block;
  vertical-align:middle;
  	width:50%;
  	height:50px;
	background-color: white;
}

