/*
    Name: OAK
    Version: 1.1
    Author: EliteFingers
    Author URI: http://www.elitefingers.com
*/

/* =Table of Contents
--------------------------------------------------------------
    /* =Common Styles
    /* =Typography
    /* =General
    /* =Buttons
    /* =Preloader
    /* =Header
    /* =Full Width Slider
    /* =Architecure Slider 
    /* =Menu right
    /* =Home Content
    /* =Architecture Content
    /* =Portfolio General
    /* =Single Project
    /* =Blog
    /* =Contact
    /* =Page Not Found
    /* =Footer
--------------------------------------------------------------


/* =Common Styles
-------------------------------------------------------------- */

@font-face {
    font-family: 'azedobold';
    src: url('../fonts/azedo-bold-webfont.eot');
    src: url('../fonts/azedo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/azedo-bold-webfont.woff2') format('woff2'), url('../fonts/azedo-bold-webfont.woff') format('woff'), url('../fonts/azedo-bold-webfont.ttf') format('truetype'), url('../fonts/azedo-bold-webfont.svg#azedobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'azedolight';
    src: url('../fonts/azedo-light-webfont.eot');
    src: url('../fonts/azedo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/azedo-light-webfont.woff2') format('woff2'), url('../fonts/azedo-light-webfont.woff') format('woff'), url('../fonts/azedo-light-webfont.ttf') format('truetype'), url('../fonts/azedo-light-webfont.svg#azedolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Ubuntu', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #eee;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar:hover {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #aeaeae;
    -webkit-border-radius: 0;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: #bbb;
    cursor: pointer;
}
::-moz-selection {
    background: #060606;
    color: #fff;
}
::selection {
    background: #060606;
    color: #fff;
}
::-moz-selection {
    background: #060606;
    color: #fff;
}
::-webkit-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
:-ms-input-placeholder {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1pt;
    font-family: 'Ubuntu', sans-serif;
}
/* =Typography
-------------------------------------------------------------- */

a {
    color: #383838;
    transition: all 0.5s;
}
a:focus {
    outline: 0;
}
a:hover,
a:focus {
    color: #7beec7;
    text-decoration: none;
}
a,
a:visited {
    font-weight: 400;
    text-decoration: none;
}
em {
    font-style: italic;
}
strong {
    font-weight: 500;
}
small {
    font-size: 0.8em;
}
p {
    color: #111111;
    line-height: 24px;
    font-size: 14px;
    font-weight: 100;
    clear: both;
    letter-spacing: 0.4px;
}
hr {
    width: 40px;
    height: 1px;
    background: #111111;
    border-top: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    clear: both;
    float: left;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lekton', sans-serif;
    letter-spacing: 1.3pt;
    color: #111111;
    clear: both;
    padding-bottom: 5px;
}
b {
    font-weight: 900;
}
blockquote {
    margin: 30px 0 30px;
    padding: 0 0 0 20px;
    font-size: 18px;
    border-left: 4px solid #787878;
    line-height: 25px;
    font-weight: 100;
    color: #787878;
}
blockquote p {
    display: inline;
}
ul {
    padding-left: 25px;
}
ul li {
    list-style-type: inherit;
}
ul.list {
    display: block;
    line-height: 25px;
}
ul.sublist {
    padding-left: 35px;
}
/* =General
-------------------------------------------------------------- */

.clearfix {
    clear: both;
}
.seperate {
    clear: both;
    height: 35px;
}
.img-center {
    display: block;
    margin: auto;
}
.image-cover {
    background-size: cover !important;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.margin-top {
    margin-top: 100px;
}
.margin-bottom {
    margin-bottom: 100px;
}
.seperate {
    height: 100px;
    clear: both;
}
.main-title {
    clear: both;
    margin-bottom: 50px;
}
.main-title.near-content {
    margin-bottom: 22px;
}
.main-title h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.main-title h6 {
    font-family: 'Ubuntu', sans-serif;
}
.slogan {
    display: block;
    font-size: 14px;
    text-align: center;
}
.second-title {
    padding: 100px 0 90px 0;
}
.second-title h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}
.second-title hr {
    width: 22px;
    height: 2px;
    background: #56c8d4;
    float: left;
}
.second-title .slogan {
    display: block;
    float: left;
    clear: both;
}
.pagination-ef {
    float: right;
    padding: 0;
}
.pagination-ef li a, .pagination-ef li span.page-numbers {
    color: #111111;
    font-weight: 100;
    font-size: 18px;
    font-family: 'Lekton', sans-serif;
    border: 1px solid #f4f4f4;
    display: inline-block;
    width: 100%;
}
.pagination-ef li a:hover {
    color: #333;
    background-color: #7beec7;
}
.pagination-ef li {
    line-height: 48px;
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
}
.pagination-ef li.current a, .pagination-ef li span.page-numbers.current {
    background-color: #7beec7;
}
.pagination-ef i {
    font-size: 30px;
    display: inline-table;
    vertical-align: middle;
}
.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #333;
    text-align: center;
    color: #fff;
    z-index: 9;
}
.scroll-top i {
    color: #fff;
    font-size: 48px;
}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        -ms-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

/*Parallax Move*/
.parallax-move{
    overflow: hidden;
}
.parallax-move img {
  position: relative;
  z-index: 4;
  max-width: 100%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.3s ease-out, -moz-transform 0.2s ease-out;
  -o-transition: opacity 0.3s ease-out, -o-transform 0.2s ease-out;
  transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}

/* =Buttons
-------------------------------------------------------------- */

.btn {
    letter-spacing: 1.5pt;
    border-radius: 0;
    font-weight: 400;
}
.btn-1 {
    clear: both;
    margin-top: 45px;
    border: 1px solid #c5c5c5;
    color: #909090;
    padding: 10px 20px 10px 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-1:hover {
    border: 1px solid #56c8d4;
    box-shadow: 200px 0 0 0 #56c8d4 inset;
    color: #fff;
}

/* =Preloader
-------------------------------------------------------------- */

.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(232, 232, 232, 0.95);
}

/* =Header
-------------------------------------------------------------- */

.header {
    height: 100px;
    width: 100%;
    background: #fff;
    z-index: 9;
    position: relative;
}
.logo {
    float: left;
    line-height: 100px;
}

a>span.site-name{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}
a:hover>span.site-name{
    color: #333;
}

.logo h1 {
    line-height: 100px;
}

/*Slider Home*/
.slider-wrapper {
    position: relative;
}
.slider-images-wrapper {
    width: 100%;
    z-index: -1;
}
.slider-description {
    position: absolute;
    top: 45%;
    width: 100%;
    max-width: 100%;
}
.slider-description-inner {
    margin-left: 6%;
}
.slider-description-inner h1 {
    font-family: 'azedobold';
    font-size: 60px;
    letter-spacing: 8px;
}
.slider-description-inner h1 span {
    font-family: 'azedolight';
    background: #d64c4c;
    padding: 22px;
    color:=#fff;
    font-weight: 100;
    margin-left: 10px;
    line-height: 80px;
}
.cd-intro {
    float: left;
    margin-left: 6%;
}
.cd-headline {
    font-size: 30px;
    margin-top: 40px;
    color: #000;
    font-weight: 100;
    letter-spacing: 3pt;
}
.cd-words-wrapper {
    display: inline-block;
    position: relative;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-weight: normal;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.no-js .cd-words-wrapper b {
    opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}
/* Text Slider Clip */
.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}
.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
}
.cd-headline.clip b {
    font-family: 'Lekton', sans-serif;
    opacity: 0;
}
.cd-headline.clip b.is-visible {
    opacity: 1;
}
.header-page {
    position: relative;
    min-height: 450px;
}
.header-page .inner-content {
    padding: 25px;
    background: rgba(255, 255, 255, 0.8);
    display: table;
    height: 410px;
    width: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 20px;
}
.header-page .inner-content.dribble-header {
    height: 220px;
}
.header-page .inner-content .header-content {
    display: table-cell;
    vertical-align: middle;
}
.header-page .inner-content .header-content h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'azedobold', sans-serif;
}
.header-page .inner-content .header-content hr {
    float: none;
}
.header-page .inner-content .header-content p {
    text-align: center;
    font-size: 18px;
}
/* =Full Width Slider
-------------------------------------------------------------- */

.has-slider {
    position: absolute;
    background: transparent;
}
svg {
    display: block;
    overflow: visible;
}
.architecture-slider-menu {
    position: fixed;
    width: 100%;
    z-index: 4;
}
.slider-container {
    position: relative;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: all-scroll;
}
.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}
.slider-control.inactive:hover .slider-control:not(.inactive):hover {
    opacity: 1;
}
.slider-control.left {
    left: 0;
    cursor: url(../img/slider-left.png), auto;
}
.slider-control.right {
    right: 0;
    cursor: url(../img/slider-right.png), auto;
}
.slider-pagi {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: 2rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.slider-pagi__elem {
    position: relative;
    display: block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    margin: 14px 0.5rem;
    border: 1px solid #111111;
    cursor: pointer;
    border-radius: 50%;
}
.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 5px;
    background: #111111;
    border-radius: 50%;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before,
.slider-pagi__elem:hover:before {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}
.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}
.slider.animating {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    will-change: transform;
}
.slider.animating .slide__bg {
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    will-change: transform;
}
.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide.active .slide__overlay,
.slide.active .slide__text {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}
.slider .slide:nth-child(1) {
    left: 0;
}
.slider .slide:nth-child(1) .slide__bg {
    left: 0;
}
.slider .slide .slide__overlay-path {
    fill: #7beec7;
}
.slider .slide:nth-child(2) {
    left: 100%;
}
.slider .slide:nth-child(3) {
    left: 200%;
}
.slider .slide:nth-child(4) {
    left: 300%;
}
.slider .slide:nth-child(5) {
    left: 400%;
}
.slide:nth-child(6) {
    left: 500%;
}
.slider .slide:nth-child(7) {
    left: 600%;
}
.slider .slide:nth-child(8) {
    left: 700%;
}
.slider .slide:nth-child(9) {
    left: 800%;
}
.slider .slide:nth-child(10) {
    left: 900%;
}
.slider .slide:nth-child(2) .slide__bg {
    left: -50%;
}
.slider .slide:nth-child(3) .slide__bg {
    left: -100%;
}
.slider .slide:nth-child(4) .slide__bg {
    left: -150%;
}
.slider .slide:nth-child(5) .slide__bg {
    left: -200%;
}
.slide:nth-child(6) .slide__bg {
    left: -250%;
}
.slide:nth-child(7) .slide__bg {
    left: -300%;
}
.slider .slide:nth-child(8) .slide__bg {
    left: -350%;
}
.slider .slide:nth-child(9) .slide__bg {
    left: -400%;
}
.slider .slide:nth-child(10) .slide__bg {
    left: -450%;
}
.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2.3rem;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.slide__text-desc {
    margin-bottom: 30px;
    text-transform: uppercase;
}
.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 720px;
    transition: -webkit-transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}
.slide__overlay path {
    opacity: 0.9;
}
.slide__text {
    position: absolute;
    width: 28%;
    bottom: 30%;
    left: 12%;
    color: #fff;
    transition: -webkit-transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
}
.slide__text-heading {
    font-size: 48px;
    font-family: 'azedobold';
    text-transform: uppercase;
    font-weight: 800;
    dispay: block;
    width: 100%;
    padding: 2px;
    position: relative;
    letter-spacing: 4.5pt;
}
span.border-text {
    font-family: 'azedolight';
    font-weight: 100;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.slide__text p {
    font-size: 24px;
    font-family: 'Lekton', sans-serif;
    padding-top: 30px;
    line-height: 30px;
    color: #111111;
    font-weight: 400;
}

/* =Architecure Slider 
-------------------------------------------------------------- */
.arch-slider {
    position: relative;
}
.arch-slider-content {
    position: absolute;
    max-width: 510px;
    padding: 5% 7% 5% 7%;
    left: 20px;
    bottom: 20px;
    background: rgba(255, 255, 255, 0.9);
}
.arch-slider-content p {
    font-size: 60px;
    font-weight: 100;
    line-height: 60px;
    font-family: 'azedolight', sans-serif;
    letter-spacing: 2.5pt;
}
.slider-controls {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.slider-controls a {
    font-size: 60px;
    padding-left: 10px;
    padding-right: 10px;
    color: #111111;
}
.slider-controls a:hover,
.slider-controls a i:hover {
    color: #7beec7;
}

/* =Home Content
-------------------------------------------------------------- */
.history-wrapper {
    float: left;
    width: 100%;
}
.history-wrapper article {
    margin-top: 60px
}
.history-wrapper h4 {
    font-family: 'Ubuntu';
    font-weight: 400;
    line-height: 24px;
}
/* Services */
.services-home-page {
    float: left;
}
.services-home-page h4 {
    font-weight: 600;
}
.services-icon>span {
    font-size: 36px;
    padding-bottom: 24px;
    clear: both;
    float: left;
}
.services-icon>hr {
    float: left;
}
/* News Letter*/
.newsletter-left {
    height: 325px;
    width: 100%;
    background-color: #7beec7;
    display: table;
    text-align: center;
}
.newsletter-left-inner {
    display: table-cell;
    vertical-align: middle;
    padding-left: 12%;
    padding-right: 12%;
}
.newsletter-left-inner h1 {
    text-align: left;
    font-size: 30px;
    font-weight: 100;
    color: #111111;
    line-height: 40px;
}
.newsletter-right {
    position: relative;
    height: 325px;
    width: 100%;
    background-color: #7beec7;
    display: table;
    text-align: center;
}
.newsletter-right-inner {
    position: absolute;
    left: 50px;
    top: 50px;
    background: #fff;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 60px;
}
.newsletter-right-inner input {
    width: 100%;
    height: 45px;
    border: 0;
    border: 1px solid #e6e6e6;
    outline: 0;
    padding-left: 20px;
    padding-right: 20px;
}
.newsletter-right-inner input:focus {
    border: 1px solid #7beec7;
}
.newsletter-right-inner input[type=submit] {
    margin-top: 15px;
    max-width: 175px;
    margin: auto;
    background: #7beec7;
    border: 0;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1.5pt;
}


/* =Footer
-------------------------------------------------------------- */
.footer {
    width: 100%;
    float: left;
    background: #f4f4f4;
    min-height: 300px;
}
.footer-inner {
    height: 300px;
    display: table;
    width: 100%;
}
.footer-content {
    display: table-cell;
    vertical-align: middle;
}
.footer-content p {
    color: #787878;
}
.footer-content h4 {
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
.footer-content address {
    color: #787878;
    font-size: 14px;
    letter-spacing: 1.5pt;
}
ul.social-media {
    padding: 0;
    text-align: center;
}
ul.social-media li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}
ul.social-media li a i {
    color: #111111;
}
ul.social-media li a i:hover {
    color: #7beec7;
}
.copyright-mark {
    margin-top: 50px;
    display: block;
    text-align: center;
    color: #787878;
    letter-spacing: 1.5pt;
}

/*  Bootstrap Alerts */
.alert {
  padding: 15px;
  margin-bottom: 21px;
  border: 1px solid transparent;
  border-radius: 0;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #5cb85c;
  border-color: rgba(0, 0, 0, 0);
  color: #ebebeb;
}
.alert-success hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-success .alert-link {
  color: #d2d2d2;
}
.alert-info {
  background-color: #5bc0de;
  border-color: rgba(0, 0, 0, 0);
  color: #ebebeb;
}
.alert-info hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-info .alert-link {
  color: #d2d2d2;
}
.alert-warning {
  background-color: #f0ad4e;
  border-color: rgba(0, 0, 0, 0);
  color: #ebebeb;
}
.alert-warning hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-warning .alert-link {
  color: #d2d2d2;
}
.alert-danger {
  background-color: #d9534f;
  border-color: rgba(0, 0, 0, 0);
  color: #ebebeb;
}
.alert-danger hr {
  border-top-color: rgba(0, 0, 0, 0);
}
.alert-danger .alert-link {
  color: #d2d2d2;
}

/* ----------------------- */
.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 200;
  font-size: 18px;

  }

  .bar {

    width: 100%;
    display: inline-block;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: all 300ms;
  }
  
  
    .bar {
      opacity: 1;
      bottom: 5px;
    }

/* CONTAINER */

.container{
    margin:0;
    padding:0;
    width:100%;
  }
  